## <span style="color:navy"> Constructing Dataframes </span>

In [3]:
# Load the pandas and numpy packages
import pandas as pd
import numpy as np

## pandas.DataFrame
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

A dataframe can be constructed using a dictionary, an ndarray, an iterable...

### Create a dataframe from a dictionary.

In [6]:

dict_animals = {
    "Animal": ["Cat", "Dog", "Elephant", "Giraffe", "Penguin", "Koala", "Tiger", "Dolphin", "Panda", "Owl"],
    "Favorite Food": ["Fish", "Bones", "Leaves", "Leaves", "Fish", "Eucalyptus", "Meat", "Fish", "Bamboo", "Small rodents"],
    "Quirk": [
        "Sleeps in the sun all day", 
        "Loves belly rubs", 
        "Sprays water for fun", 
        "Has the longest tongue", 
        "Waddles while walking", 
        "Sleeps 20 hours a day", 
        "Roars to claim territory", 
        "Can recognize itself in a mirror", 
        "Eats while sitting like a human", 
        "Can rotate its head almost 360 degrees"
    ],
    "Score of Cuteness": [9, 10, 7, 8, 9, 10, 6, 8, 10, 7],  
}

df_animals = pd.DataFrame(dict_animals)
df_animals

,Animal,Favorite Food,Quirk,Score of Cuteness
0,Cat,Fish,Sleeps in the sun all day,9
1,Dog,Bones,Loves belly rubs,10
2,Elephant,Leaves,Sprays water for fun,7
3,Giraffe,Leaves,Has the longest tongue,8
4,Penguin,Fish,Waddles while walking,9
5,Koala,Eucalyptus,Sleeps 20 hours a day,10
6,Tiger,Meat,Roars to claim territory,6
7,Dolphin,Fish,Can recognize itself in a mirror,8
8,Panda,Bamboo,Eats while sitting like a human,10
9,Owl,Small rodents,Can rotate its head almost 360 degrees,7

In [7]:
# Display the dataframe's shape
df_animals.shape

(10, 4)

In [8]:
# Display the dataframe's shape
df_animals.index

RangeIndex(start=0, stop=10, step=1)

In [9]:
# Display the dataframe's shape
df_animals.columns

Index(['Animal', 'Favorite Food', 'Quirk', 'Score of Cuteness'], dtype='object')

In [10]:
df_animals.head()
df_animals.head(3)

     Animal Favorite Food                      Quirk  Score of Cuteness
0       Cat          Fish  Sleeps in the sun all day                  9
1       Dog         Bones           Loves belly rubs                 10
2  Elephant        Leaves       Sprays water for fun                  7

### Create a dataframe from an numpy array.

In [12]:

df_animals2 = pd.DataFrame(
    data=[['Cat', 'Fish', 'Sleeps in the sun all day', 9], 
          ['Dog', 'Bones', 'Loves belly rubs', 10],
          ['Elephant', 'Leaves', 'Sprays water for fun', 7]],
    columns=['Animal', 'Favorite Food', 'Quirk', 'Score of Cuteness'],
    index=[1, 2, 3], #Note: index values are labels.
)

df_animals2

     Animal Favorite Food                      Quirk  Score of Cuteness
1       Cat          Fish  Sleeps in the sun all day                  9
2       Dog         Bones           Loves belly rubs                 10
3  Elephant        Leaves       Sprays water for fun                  7