<p style="font-family: Arial; font-size:2.75em;color:brown; font-style:bold"><br>
Lab8
    </p>
    <p style="font-family: Arial; font-size:1.75em;color:#2462C0; font-style:bold">
Visualization (15 + 3 bonus pts)<br>

</p>

 **1.	(1pts) Read *titanic.csv* into a dataframe. Show names of all indices and columns.**

**2.	(1 pt) Check how many rows with the 'Age' column being NaN.** <br>
Hints: create a filter using *pandas.DataFrame.isnull()* or *pandas.DataFrame.isna()*, or *pandas.Series.isnull()*, or *pandas.Series.isna()*

**3.	(1 pt)Drop all rows with 'Age' being NaN and save it to a new dataframe called <span style="color:red"> *df_validAges*.** </span>

**4. (1 pt) Use *pandas.DataFrame.all()* to check if all ages in the new data frame <span style="color:red"> *df_validAges*</span> are between 0 and 120.**

**5. (1 pt) Plot the histogram of the <span style="color:red"> *df_validAges*</span> dataframe, setting the bin size to be 8 and use colors of your choice for the bars and edge of the bars. 
Use return values of the *matplotpy.plot.hist()* function to find out the exact number of passengers in each bin.** <br>
https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.hist.html
<img src = "histAges.png">

**6. (1 pt) Use the *seaborn* module to create a bar chart that looks like the following, showing the number of male and female passengers of each class.** <br>
<img src = "PassengersByClass.png">

**7. (7 pt) Complete the following tasks.**
- print all the unique values in the 'Cabin' column. <br>
- You can see that these columns falls into five categories, A, B, C, D, E, create a dictionary
containing a map from cabin category names to the number of passengers for each category. <br>
- Create a pie chart for the count. (See the following graph for an example)<br>
- create a line plot for the count. (See the following graph for an example)<br>
https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.pie.html <br>
<img src = "piechart.png"> <br>
<img src = "lineplot.png">

**8. (2 pt) Complete the following tasks.**
- Create a scatter plot of age vs fare.  <br>
- Are they corelated? Calculate the Pearson correlation coefficient of these two variables.<br>

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html <br>

**9.1 The following example code illustrates applying a function into a column.**

In [38]:
#Example code showing applying a function into a column.

import numpy as np

def GenderAbbrev(sex):
    if sex == 'female':
        #print(int(age))
        return 'F'
    else:
        return 'M'
  
#create a new column 'GenderAbb' representing gender abbreviations
titanicDF['GenderAbb'] = titanicDF['Sex'].apply(GenderAbbrev )
titanicDF.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,GenderAbb
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,M
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,F
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,F
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,F
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,M

**9.2 (2 pts) Complete the following tasks:**
1. Define a function that returns a string based on the parameter *age*. Specifically, 
    - return 'Seniors' if age is 50 or higher <br>
    - return 'Children' if age is lower than 18 <br>
    - return 'Adults' if age is between 18 and 49, inclusive on both ends.<br>
    
2.Use the **Pandas.Series.apply()** functionto apply the above function to the column 'Age' of dataframe <span style='color:red'>**df_validAges**</span>, which you created in Problem 3 above. Save the results in a new column named 'AgeGroup'.

**10 (1 pt) use seaborn to plot a grouped bar chart to show number of adults, seniors and children for each Pclass in the <span style='color:red'>*df_validAge*</span> data frame. The following is an example graph.** 
<img src = "AgeGroups_Class.png">