In [29]:
import pandas as pd

## <span style="color:Brown"> **Lab5 -- `pandas.Dataframe`** </span>

  **1.	(1pt) Create a dataframe that looks like the following.** 
 
 <img src="df1.png" align="middle" style="width:200px;height:160px;"/>

In [32]:
d = {'name' : ['Alice', 'Tom', 'John', 'Kevin', 'Emma', 'Ethan'], 
     'instrument' : ['piano', 'guitar', 'Saxophone', 'drum', 'clarinet', 'electric guitar']}
df = pd.DataFrame(d)
df

    name       instrument
0  Alice            piano
1    Tom           guitar
2   John        Saxophone
3  Kevin             drum
4   Emma         clarinet
5  Ethan  electric guitar

 **2.	(1 pt) show names of all columns.**

In [34]:
df.columns

Index(['name', 'instrument'], dtype='object')

**3.	(1 pt) Create a dataframe that looks like the following. Note the index labels are names.** 

<img src="df2.png" align="middle" style="width:200px;height:160px;"/>

In [88]:
d = {'years' : [3, 5, 2, 4, 2, 3], 
     'instrument' : ['piano', 'guitar', 'Saxophone', 'drum', 'clarinet', 'electric guitar']}
df = pd.DataFrame(d, index=['Alice', 'Tom', 'John', 'Kevin', 'Emma', 'Ethan'])
df

       years       instrument
Alice      3            piano
Tom        5           guitar
John       2        Saxophone
Kevin      4             drum
Emma       2         clarinet
Ethan      3  electric guitar

**4.	(1 pt) Show names of all indices of the dataframe.**

In [91]:
df.index

Index(['Alice', 'Tom', 'John', 'Kevin', 'Emma', 'Ethan'], dtype='object')

**5.	(2 pts) Use `pandas.Dataframe.loc` and  `pandas.Dataframe.iloc`  respectively to show both Alice and Emmaâ€™s information.**

In [94]:
#df.loc[['Alice','Emma'], :]
df.iloc[[0,4],:]

       years instrument
Alice      3      piano
Emma       2   clarinet

**6.	(1 pt) Read `titanic.csv` into a dataframe called `titanicDF` and show the first five rows.**

In [97]:
titanicDF = pd.read_csv('titanic.csv', sep=',')
titanicDF.head(5)

FileNotFoundError: [Errno 2] No such file or directory: 'titanic.csv'

**7.	(1 pt) Show the total number of passengers in the dataset.**

In [100]:
titanicDF.shape #(891, 12)
titanicDF.shape[0]

NameError: name 'titanicDF' is not defined

**8.	(1 pt) Show the last 5 rows of `titanicDF`.**

In [103]:
#titanicDF.iloc[-5:]
titanicDF.tail(5)

NameError: name 'titanicDF' is not defined

**9.	(1 pt) Use `pandas.DataFrame.info()` to determine which columns have missing values. Show those columns' names in a separate markdown cell,using a color of your choice that's not black.**

In [106]:
titanicDF.info()

NameError: name 'titanicDF' is not defined

<span style="color:red"> Column "Age" and "Cabin" have missing values. <span>

**10.	(1 pt) Use `pandas.DataFrame.isnull()` and `pandas.DataFrame.sum()` to perform the same task of determining which columns have missing values.**

In [110]:
missing_values = titanicDF.isnull().sum()
missing_values

NameError: name 'titanicDF' is not defined

**11. (1pt) Use `pandas.Dataframe.iloc` to show the `Survived`, `Pclass`, `Name`, `Sex` and `Age` of the first 10 rows of the dataframe.**

In [113]:
result = titanicDF.iloc[:,1:6]
result.head(10)

NameError: name 'titanicDF' is not defined

**12. (1pt) Use `pandas.Dataframe.loc` to perform the same task as described in the above cell.**

In [116]:
result = titanicDF.loc[:, ['Survived', 'Pclass', 'Name', 'Sex', 'Age']]
result.head(10)

NameError: name 'titanicDF' is not defined

**13. (1pt) Use `pandas.Series.unique()` to find all unique values in the `'Pclass'` column. Store the results in a list and display it.**

#### <span style = "color:red"> -1 As you can see from the error message, `unique_value` is a DataFrame and can't be converted to a list. </span>
**Use the following instead.**
```python
titanicDF['Pclass'].unique().tolist()

In [120]:
unique_value = titanicDF.groupby('Pclass').count()
unique_value_list = unique_value.tolist()

NameError: name 'titanicDF' is not defined

**14.	(1 pt) Show the datatype of the column `'Survived'`.**
#### <span style = "color:red"> Or: </span>
```python
titanicDF['Survived'].dtype
```

In [123]:
print(type(titanicDF['Survived'].iloc[0]))

NameError: name 'titanicDF' is not defined

**15.	(1 pt) Find the number of people who survived and display the results. Hints: Create a filter.**

In [126]:
filter_survived = titanicDF['Survived'] == 1
print("Number of people survivied: ", titanicDF[filter_survived].shape[0])

NameError: name 'titanicDF' is not defined

**16.	(1 pt) Use `pandas.Series.value_counts()` to do the same thing in the above cell.**

[https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

In [129]:
print(type(titanicDF['Survived'].value_counts()))
print(titanicDF['Survived'].value_counts())
print("Number of people survivied: ",titanicDF['Survived'].value_counts().get(1,0))

NameError: name 'titanicDF' is not defined

**17.	(1 pt) Find the number of survived females and males respectively and display the results. Hints: create filters.**

In [132]:
filter_survived_male = (titanicDF['Survived'] == 1) & (titanicDF['Sex'] == 'male')
print("Number of male survivied: ", titanicDF[filter_survived_male].shape[0])

NameError: name 'titanicDF' is not defined

In [134]:
filter_survived_female = (titanicDF['Survived'] == 1) & (titanicDF['Sex'] == 'female')
print("Number of female survivied: ", titanicDF[filter_survived_female].shape[0])

NameError: name 'titanicDF' is not defined

In [136]:
male_survived_count = titanicDF[filter_survived_male].shape[0]
female_survived_count = titanicDF[filter_survived_female].shape[0]

print(male_survived_count + female_survived_count)

NameError: name 'titanicDF' is not defined

**18.	(1 pt) Find the number of passengers younger than 18 (children) or older than 60 (seniors) and display the results.**

In [139]:
filter_age = (titanicDF['Age'] < 18) | (titanicDF['Age'] > 60)
print("Number of children and seniors: ", titanicDF[filter_age].shape[0])

NameError: name 'titanicDF' is not defined

**19.	(1 pt) Use `pandas.DataFrame.groupby()` to address the following research question: <br> 
"What is the average ticket fare for passengers who survived compared to those who did not?"**
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

In [142]:
groupedBySurvived_DF = titanicDF[['Survived','Fare']].groupby('Survived').mean()
groupedBySurvived_DF

NameError: name 'titanicDF' is not defined

**20.	(1 pt) Create another research question and address it using the groupby() function.**

**"What is the average age for passengers who survived compared to those who did not?"**

In [146]:
ageBySurvived_DF = titanicDF[['Survived','Age']].groupby('Survived').mean()
ageBySurvived_DF

NameError: name 'titanicDF' is not defined