In [5]:
# Load the pandas package
import pandas as pd

In [7]:
# Load the country.csv data
country = pd.read_csv('country.csv')

In [3]:
# Display the country dataframe
country

,Country,Continent,SurfaceArea,Population,Density,IndependenceDate,OfficialLanguage,Percentage
0,China,Asia,9572900,1277558000,133,1949-10-01,Mandarin,0.81
1,Bangladesh,Asia,143998,129155000,897,1905-05-24,Bengali,0.98
2,Brazil,South America,8547403,170115000,20,1822-09-07,Portuguese,0.98
3,India,Asia,3287263,1013662000,308,1905-04-30,Hindi,0.40
4,Norway,Europe,385207,5379000,14,1905-05-17,Norwegian,0.97
5,United States,North America,9363520,278357000,30,1776-07-04,English,0.86

## <span style= "color:orangered"> Practice 1 </span>

### show all continents.

### <span style= "color:blue"> Show unique values of the continents </span>

In [4]:
pd.unique(country['Continent']).tolist()

['Asia', 'South America', 'Europe', 'North America']

### <span style= "color:blue"> Create a filter </span>
- A filter can be created for generating rows meeting a certain condition. 
- relational operators: `==`, `!=`, `>`, `<`, `>=`, and `<=`  
- Use logical operators, `!`, `&` and `|`, to create compound conditions
    - remember to use () to ensure logical operators are evaluated first before logical operators, e.g., use `(a > b) & (c < d) ` instead of `a > b & c < d`

In [5]:
# Select rows where the Continent is South America
filter = country['Continent'] == 'South America'
country[filter]

,Country,Continent,SurfaceArea,Population,Density,IndependenceDate,OfficialLanguage,Percentage
2,Brazil,South America,8547403,170115000,20,1822-09-07,Portuguese,0.98

In [6]:
# Select rows where the Continent is South America -- an anonymous filter
country[country['Continent'] == 'South America']

,Country,Continent,SurfaceArea,Population,Density,IndependenceDate,OfficialLanguage,Percentage
2,Brazil,South America,8547403,170115000,20,1822-09-07,Portuguese,0.98

In [7]:
# Select rows where the Continent is not Asia
country[country['Continent'] != 'Asia']

,Country,Continent,SurfaceArea,Population,Density,IndependenceDate,OfficialLanguage,Percentage
2,Brazil,South America,8547403,170115000,20,1822-09-07,Portuguese,0.98
4,Norway,Europe,385207,5379000,14,1905-05-17,Norwegian,0.97
5,United States,North America,9363520,278357000,30,1776-07-04,English,0.86

In [8]:
# Select rows where the Continent is not in Asia
country[~(country['Continent'] == 'Asia')]

,Country,Continent,SurfaceArea,Population,Density,IndependenceDate,OfficialLanguage,Percentage
2,Brazil,South America,8547403,170115000,20,1822-09-07,Portuguese,0.98
4,Norway,Europe,385207,5379000,14,1905-05-17,Norwegian,0.97
5,United States,North America,9363520,278357000,30,1776-07-04,English,0.86

In [9]:
# Select rows where the Continent is Asia or Europe
country[(country['Continent'] == 'Asia') | (country['Continent'] == 'Europe')]

,Country,Continent,SurfaceArea,Population,Density,IndependenceDate,OfficialLanguage,Percentage
0,China,Asia,9572900,1277558000,133,1949-10-01,Mandarin,0.81
1,Bangladesh,Asia,143998,129155000,897,1905-05-24,Bengali,0.98
3,India,Asia,3287263,1013662000,308,1905-04-30,Hindi,0.40
4,Norway,Europe,385207,5379000,14,1905-05-17,Norwegian,0.97

## <span style= "color:orangered"> Practice 2 -- Relational Operations  </span>

1. show rows with a population greater than 1 billion
2. Show names of countries with a population greater than 1 billion. Return the results as a dataframe.

## <span style= "color:orangered"> Practice 3 -- Logical Operations  </span>

1. show rows for countries in Asia with a population greater than 250,000,000